.password-prot-wrap {
  background-color: #251b33;
  background-image: url(/assets/stars2.svg);
  color: white;
  padding: 15% 0 0 0;
  background-size: 64vw;
  background-position-y: 0%;
  background-position-x: 70%;
  background-repeat: no-repeat;

  img {
    width: 109%;
    margin-top: 7%;
    margin-left: -5%;
  }
}

@media only screen and (min-width: 750px) {
  .password-prot-wrap {
    background-image: unset;
    background-color: unset;
    display: flex;
    padding: 0%;
    text-align: left;

    .pass-text-wrap {
      padding-top: 17%;
      padding-left: 9%;
    }

    h1 {
      font-size: 3.3vw;
      padding-top: 3%;
    }

    p {
      font-size: 1.4vw;
      margin: 0 !important;
      width: 38%;
      padding-top: 1%;
    }

    img {
      width: 68vw;
      margin-top: 2%;
      margin-left: -51vw;
      margin-right: 7%;
    }

    .pass-icon {
      display: inline-block;
      width: 11% !important;
      margin: 0 !important;
    }
  }
}
