.password-prot-wrap {
  background-color: #251b33;
  background-image: url(/assets/stars2.png);
  color: white;
  padding: 15% 0 0 0;
  background-size: 76vw;
  background-position-y: 3%;
  background-position-x: 103%;
  background-repeat: no-repeat;

  .phone-frame {
    width: 58vw;
    position: absolute;
    margin-top: -117vw;
    left: -1vw;
  }

  .iphone-video {
    position: absolute;
    width: 29.7vw;
    margin: 0;
    left: 12.5vw;
    border-radius: 4vw;
    border: 1vw solid black;
    margin-top: -104.9vw;
    height: auto;
    box-shadow: 0 32px 30px 0 rgb(0 0 0 / 37%), 0 0px 40px 0 rgb(0 0 0 / 44%);
  }
}

.pass-text-wrap {
  padding-bottom: 122vw;
}

@media only screen and (min-width: 750px) {
  .password-prot-wrap {
    background-image: unset;
    background-color: unset;
    display: flex;
    padding: 0%;
    text-align: left;
    padding-bottom: 10vw;

    .pass-text-wrap {
      padding-top: 17%;
      padding-left: 9%;
      padding-bottom: unset;
      max-width: fit-content;
    }

    h1 {
      font-size: 3.3vw;
      padding-top: 3%;
    }

    p {
      font-size: 1.4vw;
      margin: 0 !important;
      width: 38vw;
      padding-top: 1%;
    }

    .phone-frame {
      width: 26.5vw;
      margin-top: 0.9vw;
      position: absolute;
      left: unset;
      right: 25.9vw;
    }

    .iphone-video {
      width: 13.6vw;
      border: 0.5vw solid black;
      right: 31.7vw;
      margin-top: 6.3vw;
      border-radius: 2.1vw;
      left: unset;
    }

    .pass-icon {
      display: inline-block;
      width: 11vw !important;
      margin: 0 !important;
    }
  }

  @media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
      .iphone-video {
        margin-top: 6.4vw !important;
      }
    }
  }
}
