<div class="footer-wrapper">
  <div class="footer-content-mobile txt-center">
    <div *ngFor="let item of footerItemsMobile" class="footer-item">
      {{item}}
    </div>
    <div class="flex icons-div">
      <img src="assets/twitericon.svg" class="logo-img" />
      <img src="assets/icon1.png" class="logo-img" />
    </div>
    <hr class="solid">
    <p class="rarefied">© Rarefied Studios, LLC</p>
  </div>
  <div class="footer-content-desktop">
    <div class="btns-wrap txt-center">
      <rounded-button *ngFor="let item of footerButtons" text="{{item.text}}" color="{{item.color}}"
      img="{{item.img}}" size="small">
      </rounded-button>
    </div>
    <div class="footer-bottom-desktop">
      <p class="rarefied">© Rarefied Studios, LLC</p>
      <div>
        <button class="desktop-btn">PRIVACY POLICY</button>
        <button class="desktop-btn">TERMS OF SERVICE</button>
      </div>
    </div>
  </div>
</div>
