<div class="flex header-wrap">
  <img src="assets/Logo.svg" class="logo-img cursor-pointer" routerLink="features" />
  <img src="assets/burger-menu.svg" class="burger-menu" (click)="changeDisplayBurgerMenu()"
    *ngIf="!this.isOpenBurger" />
  <img src="assets/x.svg" class="burger-menu close-btn" (click)="changeDisplayBurgerMenu()" *ngIf="this.isOpenBurger" />
  <div class="burger-menu-content" *ngIf="this.isOpenBurger">
    <div (click)="featuresClickHandler()" [ngClass]="{'active-mobile' : getActiveLink() === 'features'}">
      <p>Features</p>
      <img src="assets/Vector1.svg" class="arrow-icon" [ngClass]="{'arrow-icon--rotated': this.isOpenSubmenu}">
      <div class="burger-sub-menu" [ngClass]="{'burger-sub-menu--visible': this.isOpenSubmenu}">
        <a routerLink="features" [fragment]="option.fragment" *ngFor="let option of featuresMenu">{{option.title}}</a>
      </div>
    </div>
    <div (click)="changeRoute($event, 'premium')" [ngClass]="{'active-mobile' : getActiveLink() === 'premium'}">
      <p>Premium</p>
    </div>
    <div class="social-media-icons">
      <a href="https://twitter.com/thegoodknightz">
        <img src="assets/twitericon.svg" />
      </a>
      <div class="whitespace"></div>
      <a href="https://discord.com/invite/GwDw95vPyT">
        <img src="assets/icon1.png" />
      </a>
    </div>
  </div>
  <div class="menu-buttons">
    <button [ngClass]="{'active' : getActiveLink() === 'features'}" class="cursor-pointer"
      (click)="changeRoute($event, 'features')"><span>Features</span>
      <img [ngClass]="{'active' : getActiveLink() === 'features', 'rotate' : this.isOpenAnchorMenu}" class="arrow-icon"
        src="assets/Vector1.svg" />
    </button>
    <button [ngClass]="{'active' : getActiveLink() === 'premium'}" (click)="changeRoute($event, 'premium')"
      class="cursor-pointer"><span>Premium</span>
    </button>
  </div>
  <div class="anchor-menu" *ngIf="this.isOpenAnchorMenu">
    <a *ngFor="let option of featuresMenu" routerLink="features" [fragment]="option.fragment"
      (click)="changeDisplayAnchorMenu($event)">{{option.title}}</a>
  </div>
  <img src="assets/Logo.svg" class="logo-img-hidden" />
</div>
