.burger-menu {
  display: none;
}

.logo-img-hidden {
  visibility: hidden;
  width: 15vw;
}

.header-wrap {
  padding: 3vw 9vw;
  align-items: center;
  justify-content: space-between;

  .menu-buttons {

    .active {
      color: #DE9CEA;

      .arrow-icon {
        visibility: visible;
      }
    }

    button {
      font-size: 1.7vw;
      font-family: MontserratSemiBold;
      background-color: transparent;
      border: none;
      color: white;
      display: inline-flex;
      align-items: center;

      span {
        margin-right: 9px;
      }

      .arrow-icon {
        visibility: hidden;
        width: 1.2vw;
      }

      &:first-of-type {
        margin-right: 68px;
        margin-left: 7vw;
      }
    }
  }
}

.logo-img {
  width: 15vw;
}

@media only screen and (max-width: 750px) {
  .header-wrap {
    padding: 3vw 10vw 0 6vw;
    align-items: unset;
    justify-content: space-between;
  }

  .logo-img-hidden {
    display: none;
  }

  .logo-img {
    width: 37vw;
  }

  .burger-menu {
    width: 11%;
    display: inline-block;
  }

  .menu-buttons {
    display: none;
  }
}
