.burger-menu {
  display: none;
}

.logo-img-hidden {
  visibility: hidden;
  width: 15vw;
}

.header-wrap {
  padding: 3vw 9vw;
  align-items: center;
  justify-content: space-between;

  .menu-buttons {

    .active {
      color: #DE9CEA;

      .arrow-icon {
        visibility: visible;
      }
    }

    button {
      font-size: 1.7vw;
      font-family: MontserratSemiBold;
      background-color: transparent;
      border: none;
      color: white;
      display: inline-flex;
      align-items: center;

      span {
        margin-right: 9px;
      }

      .arrow-icon {
        visibility: hidden;
        width: 1.2vw;
      }

      &:first-of-type {
        margin-right: 68px;
        margin-left: 5vw;
      }
    }
  }
}

.logo-img {
  width: 15vw;
}

.burger-menu-content {
  display: none;
}

.anchor-menu {
  display: none;
}

@media only screen and (min-width: 750px) {
  .rotate {
    transform: rotate(180deg);
  }

  .anchor-menu {
    background-image: url(/assets/features-menu.svg);
    width: 20vw;
    position: absolute;
    display: block;
    top: 9vw;
    background-repeat: no-repeat;
    background-size: contain;
    left: 33vw;
    padding: 2.3vw 3vw;

    a {
      font-size: 1.4vw;
      line-height: 1.6vw;
      text-decoration: none;
      color: white;
      display: block;
      margin: 1vw;
      font-family: "MontserratSemiBold";
      cursor: pointer;
      overflow: hidden;

      &:hover {
        color: #DE9CEA;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .burger-menu-content {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 34vw;
    padding-bottom: 6vw;
    background-color: #251B33;
    text-align: center;

    >div {
      position: relative;

      >img {
        position: absolute;
        top: 5vw;
        right: 17.5%;
        width: 5.5vw;
        filter: brightness(0) invert(1);

        &.arrow-icon--rotated {
          transform: rotate(180deg);
        }
      }
    }

    .active-mobile {
      color: #DE9CEA;

      img {
        filter: unset;
      }
    }

    .burger-sub-menu {
      margin-top: 5vw;
      display: none;

      &.burger-sub-menu--visible {
        display: block;
      }

      .burger-sub-menu--visible+img {
        transform: unset;
      }

      a {
        color: white;
        text-decoration: none;
        display: block;
        margin-bottom: 3.4vw;
        font-size: 3.8vw;
      }
    }

    div {
      &:nth-child(2) p {
        margin-top: 1.6vw;
      }

      p {
        font-family: MontserratBold;
        font-size: 9.8vw;
        margin: 0;
      }
    }

    .social-media-icons {
      display: flex;
      justify-content: center;
      margin-top: 13vw;

      img {
        width: 8vw;
      }

      .whitespace {
        width: 11vw;
      }
    }
  }

  .header-wrap {
    padding: 3vw 10.5vw 0 6vw;
    align-items: center;
    justify-content: space-between;
  }

  .logo-img-hidden {
    display: none;
  }

  .logo-img {
    width: 37vw;
    z-index: 1;
  }

  .burger-menu {
    width: auto;
    height: 6vw;
    z-index: 1;
    display: inline-block;
  }

  .menu-buttons {
    display: none;
  }

  .close-btn {
    margin-right: 1.2vw;
  }
}
