<div class="flex header-wrap">
  <img src="assets/Logo.svg" class="logo-img" />
  <img src="assets/burger-menu.svg" class="burger-menu" (click)="changeDisplayBurgerMenu()" />
  <div class="burger-menu-content" *ngIf="this.isOpenBurger">
    <div (click)="changeRoute('features')" [ngClass]="{'active-mobile' : getActiveLink() === 'features'}">
      <p>Features</p>
    </div>
    <div (click)="changeRoute('pricing')" [ngClass]="{'active-mobile' : getActiveLink() === 'pricing'}">
      <p>Pricing</p>
    </div>
  </div>
  <div class="menu-buttons">
    <button [ngClass]="{'active' : getActiveLink() === 'features'}"
      (click)="changeRoute('features')"><span>Features</span>
      <img [ngClass]="{'active' : getActiveLink() === 'features'}" class="arrow-icon" src="assets/Vector1.svg" />
    </button>
    <button [ngClass]="{'active' : getActiveLink() === 'pricing'}" (click)="changeRoute('pricing')"><span>Pricing</span>
      <img [ngClass]="{'active' : getActiveLink() === 'pricing'}" src="assets/Vector1.svg"
        class="arrow-icon" /></button>
  </div>
  <img src="assets/Logo.svg" class="logo-img-hidden" />
</div>
