<div class="white-wrapper txt-center">
  <h1>Secure your server for <span>free</span></h1>
  <div class="btn-wrap">
    <square-button text="Premium" class="free-features" (click)="goToPriceTable()"
      *ngIf="getActiveLink() === 'features'">
    </square-button>
    <square-button text="Get Started" color="transparent-white"
      url="https://discord.com/api/oauth2/authorize?client_id=957481307405975552&permissions=2953276446&scope=applications.commands%20bot">
    </square-button>
  </div>
</div>
<img src="assets/unicorn-knight.svg" class="unicorn-knight"
  [ngClass]="{'features-page' : getActiveLink() === 'features'}">
