button {
  background-color: #9948E6;
  color: white;
  font-size: 4.7vw;
  border: none;
  border-radius: 25px;
  margin: auto;
  display: flex;
  padding: 3vw 9vw;
  align-items: center;
  justify-content: center;
  font-family: MontserratSemiBold;
  cursor: pointer;
  transition: 0.3s;

  &.dark-violet {
    background-color: #3A2657;

    &:hover {
      color: #3A2657;
      background-color: white;

      img {
        filter: invert(47%) sepia(65%) saturate(6120%) hue-rotate(255deg) brightness(17%) contrast(88%);
      }
    }
  }
}

span {
  margin-left: 3vw;
}

img {
  width: 9vw;
}

.violet-join {
  width: 100%;
  border-radius: 30px;

  span {
    font-size: 4.5vw;
  }
}

@media only screen and (min-width: 750px) {
  button {
    font-size: 1.3vw;
    font-family: MontserratRegular;
    padding: 0.6vw 2.4vw 0.6vw 2.15vw;

    &:hover {
      cursor: pointer;
      background-color: #3A2657;
    }
  }

  .violet-join {
    margin: 0;
    width: 51%;

    span {
      font-size: 1.2vw;

    }
  }

  .white {
    background-color: white;
    color: #3A2657;

    &:hover {
      background-color: #3A2657;
      color: white;

      img {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(161deg) brightness(112%) contrast(102%);
      }
    }
  }

  .blue {
    background-color: #00B9F6;
    color: white;

    &:hover {
      color: #00B9F6;
      background-color: white;

      img {
        filter: brightness(0) saturate(100%) invert(65%) sepia(54%) saturate(3968%) hue-rotate(156deg) brightness(95%) contrast(104%);
      }
    }
  }

  span {
    padding-left: 0.8vw;
    margin: 0;
  }

  img {
    max-height: 1.75vw;
    width: auto;
  }
}
