button {
  background-color: #9948E6;
  color: white;
  width: 85%;
  font-size: 15px;
  border: none;
  border-radius: 25px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 0;
  font-family: MontserratRegular;
}

span {
  padding-left: 13px;
}

.icon1 {
  width: 29px;
}
