<div class="site-body">
  <app-pricing-page-prices></app-pricing-page-prices>
  <app-pricing-page-advantages></app-pricing-page-advantages>
  <div class="defend-wrapper">
    <div class="defend-wrap">
      <h1>{{this.title}}</h1>
      <p>{{this.paragraph}}</p>
      <div class="rounder-btn-wrap">
        <rounded-button text="Join our Support Server" img="assets/icon1.png" color="violet-join">
        </rounded-button>
      </div>
    </div>
    <div class="pricing-defender-wrap"><img src="assets/pricing-defend-mobile.png" class="pricing-defend-mobile"></div>
  </div>
</div>
<app-footer></app-footer>
