* {
  margin: 0;
  font-family: MontserratRegular;
}

.site-body {
  background-color: #251B33;

  .pricing-defender-wrap {
    background: linear-gradient(180deg, white 14%, #251B33 30%, #251B33 50%);
    padding-bottom: 7vw;
    margin-top: -1vw;
  }

  .rounder-btn-wrap {
    padding: 0 7vw;
  }

  .defend-wrap {
    margin-top: -1vw;
    background-color: white;
    color: #251B33;
    padding: 5vw 0vw;
    text-align: center;

    h1 {
      font-family: MontserratBold;
      font-size: 7.8vw;
    }

    p {
      font-family: MontserratSemiBold;
      font-size: 3.7vw;
      padding: 0 9vw;
      margin-top: 4vw;
      margin-bottom: 9vw;
    }
  }

  img {
    width: 111vw;
    margin-left: -7vw;
    margin-top: -8vw;
  }
}

.defend-pricing-desktop {
  display: none;
}

@media only screen and (min-width: 750px) {

  .defend-desktop {
    display: flex;

    .defend-wrap {
      text-align: left;

      h1 {
        font-size: 3vw;
      }

      p {
        font-size: 1.5vw;
        padding: 0;
      }
    }
  }

  .pricing-defend-mobile {
    display: none;
  }

  .defend-pricing-desktop {

    display: flex;
    width: 81vw !important;
    height: fit-content !important;
    margin: 0 !important;
    margin-top: 3vw !important;
    margin-left: 2vw !important;
  }

  .rounder-btn-wrap {
    padding: 0 !important;
  }
}
