<div class="site-body">
  <app-pricing-page-prices></app-pricing-page-prices>
  <app-pricing-page-advantages></app-pricing-page-advantages>
  <div class="defend-wrap">
    <h1>Defend your Discord realm from hackers</h1>
    <p>The only bot that can protect your discord server after an account compromise</p>
    <rounded-button text="Join our Support Server" img="assets/icon1.png" color="violet-join">
    </rounded-button>
  </div>
  <div class="pricing-defender-wrap"><img src="assets/pricing-defend-mobile.png"></div>
</div>
<app-footer></app-footer>
