* {
  margin: 0;
  font-family: MontserratRegular;
  overflow: hidden;
}

.site-body {
  background-color: #251B33;

  .rounder-btn-wrap {
    padding: 0 7vw;
  }

  img {
    width: 111vw;
    margin-left: -7vw;
    margin-top: -8vw;
  }
}

@media only screen and (max-width: 750px) {

  .premium-defender-wrap {
    background: linear-gradient(180deg, white 14%, #251B33 30%, #251B33 50%);
    padding-bottom: 7vw;
    margin-top: -1vw;
  }

  .defend-wrap {
    margin-top: -1vw;
    background-color: white;
    color: #251B33;
    padding: 5vw 0vw;
    text-align: center;

    h1 {
      font-family: MontserratBold;
      font-size: 7.8vw;
    }

    p {
      font-family: MontserratSemiBold;
      font-size: 3.7vw;
      padding: 0 9vw;
      margin-top: 4vw;
      margin-bottom: 9vw;
    }
  }
}

@media only screen and (min-width: 750px) {

  .premium-defend-mobile {
    display: none;
  }

  .defend-wrapper {
    display: block;
    background-repeat: no-repeat;
    background-image: url(/assets/desktop-defend.png);
    height: 46vw;
    background-size: cover;
    background-position-y: -13vw;
    margin-top: -4.5vw;

    h1,
    p {
      position: absolute;
      right: 9vw;
      width: 36vw;
    }

    h1 {
      font-family: 'MONTSERRATBOLD';
      font-size: 3.3vw;
      margin-top: 13.5vw;
    }

    p {
      font-family: "MONTSERRATREGULAR";
      font-size: 1.4vw;
      margin-top: 23vw;
    }

    .rounder-btn-wrap {
      position: absolute;
      right: 1vw;
      width: 44vw;
      font-size: 3.3vw;
      margin-top: 29.5vw;
    }
  }

  .rounder-btn-wrap {
    padding: 0 !important;
  }
}
