<div class="site-body">
  <app-premium-page-prices></app-premium-page-prices>
  <app-premium-page-advantages></app-premium-page-advantages>
  <div class="defend-wrapper">
    <div class="defend-wrap">
      <h1  >{{this.title}}</h1>
      <p  >{{this.paragraph}}</p>
      <div class="rounder-btn-wrap"  >
        <rounded-button text="Join our Support Server" img="assets/icon1.png" color="violet-join"
          url="https://discord.gg/GwDw95vPyT">
        </rounded-button>
      </div>
    </div>
    <div class="premium-defender-wrap"><img src="assets/premium-defend-mobile.png" class="premium-defend-mobile"></div>
  </div>
</div>
<app-footer></app-footer>
