<div class="stars1-background">
  <div>
    <app-header></app-header>
    <div class="defend-wrap">
      <div class="defend-text-wrap">
        <h1 class="defend-title">Defend your Discord realm from hackers</h1>
        <p class="descr-defend">
          The only bot that can protect your discord server after an account
          compromise
        </p>
        <div class="rounded-button-div">
          <rounded-button text="Add to your server" img="assets/icon1.png"
            url="https://discord.com/api/oauth2/authorize?client_id=957481307405975552&permissions=2953276446&scope=applications.commands%20bot">
          </rounded-button>
          <rounded-button color="dark-violet" text="Documentation" img="assets/docs.png"
            url="https://docs.goodknightbot.com/"></rounded-button>
        </div>
      </div>
      <img src="assets/whitehatdesktop.svg" class="white-hat-desktop" />
    </div>
    <img src="assets/image1.svg" class="white-hat-mobile" />
  </div>
  <div class="txt-center trusted-wrap" data-aos="fade-up" data-aos-offset="100">
    <h2>Trusted by <span class="orange-font">1500+ servers</span></h2>
    <h2>Protecting <span class="yellow-font">1.2M+ users</span></h2>
  </div>

  <div class="layer2-sec-wrap txt-center">
    <h1 class="layer-2-mobile-title">Layer-2 Security</h1>
    <div class="flex-desktop" id="layer2-sec-wrap">
      <img class="layer2-ipad-img" src="assets/ipad4.png" data-aos="fade-up" />
      <div class="text-wrap">
        <img src="assets/lockicon.svg" class="lockicon" data-aos="fade-up" />
        <h1 class="layer-2-desktop-title" data-aos="fade-up">
          Layer-2 Security
        </h1>
        <p data-aos="fade-up">
          <span>First layer-2</span> discord security bot that protects servers
          from compromised accounts and bots.
        </p>
        <p data-aos="fade-up">
          While all other discord bots attempt to stop scams before they happen,
          <span>Good Knight is the only bot that cripples a hacker after they've
            gained access to your server!</span>
        </p>
      </div>

    </div>
  </div>
</div>
<div class="stars2-background">
  <div class="password-prot-wrap txt-center" id="password-prot-wrap">
    <div class="pass-text-wrap">
      <img src="assets/pass.svg" class="pass-icon" data-aos="fade-up" />
      <h1 data-aos="fade-up">Password Protection</h1>
      <p data-aos="fade-up">
        Innovative password & 2FA protection secures Good Knight commands so
        that hackers cannot gain control of your server, even after compromising
        an admin or a moderator.
      </p>
    </div>
    <img src="assets/iphones.png" class="iphones-mobile" data-aos="fade-up" />
    <img src="assets/iphones-desktop.png" class="iphones-desktop" data-aos="fade-up" />
  </div>
  <div class="panic-mode-wrap txt-center" id="panic-mode-wrap">
    <div class="panic-txt-wrap">
      <img src="assets/panic.svg" class="panic-icon" data-aos="fade-up" />
      <h1 data-aos="fade-up">Panic Mode</h1>
      <p data-aos="fade-up">
        Instant server lockdown to safely stop any hack or raid. Good Knight
        takes a snapshot of your existing server settings and seamlessly
        reapplies them after the danger has passed.
      </p>
    </div>

    <img src="assets/computer.png" data-aos="fade-up" />
  </div>
</div>
<div class="power-wizard-wrap txt-center">
  <div id="power-wizard-wrap">
    <img class="layer1" src="assets/layer1.png" data-aos="fade-up" data-aos-offset="0" />
    <img class="layer2" src="assets/layer2.png" data-aos="fade-up" data-aos-offset="400" />
    <img class="layer3" src="assets/layer3.png" data-aos="fade-up" data-aos-offset="150" />
    <h1 class="wizard-title" id="power-wizard-wrap" data-aos="fade-up">
      Permissions Wizard</h1>
  </div>
  <p data-aos="fade-up">
    <span>Safely grant your moderators temporary access to power
      permissions.</span>
    <br />
    <span class="bold-span">The magic of Discord permissions at your
      fingertips without any of the
      risk!</span>
  </p>
</div>
<div class="stars3-background">
  <div class="anti-link-wrap txt-center">
    <h1 id="anti-link-wrap" data-aos="fade-up">Anti-link, anti-webhook and more...</h1>
    <div class="flex-reverse">
      <div class="ipad-wrap">
        <div>
          <img src="assets/ipadpng.png" />
        </div>
      </div>

      <p data-aos="fade-up">
        Guard your server against malicious links, spam, webhook attacks, and
        more!
      </p>
    </div>
  </div>
  <div class="learn-more-wrap txt-center">
    <h1>
      Learn more about free and premium options
      <span><a href="premium#features-table">here</a></span>
    </h1>
  </div>
  <app-faq-section></app-faq-section>
  <app-secure-for-free></app-secure-for-free>
</div>
<app-footer></app-footer>
