<div class="stars1-background">
  <div>
    <app-header></app-header>
    <div class="defend-wrap">
      <div class="defend-text-wrap">
        <h1 class="defend-title">Defend your Discord realm from hackers</h1>
        <p class="descr-defend">
          The only bot that can protect your discord server after an account
          compromise
        </p>
        <div class="rounded-button-div">
          <rounded-button text="Add to your server" img="assets/icon1.png"
            url="https://discord.com/api/oauth2/authorize?client_id=957481307405975552&permissions=2953276446&scope=applications.commands%20bot">
          </rounded-button>
          <rounded-button color="dark-violet" text="Documentation" img="assets/docs.png"
            url="https://docs.goodknightbot.com/"></rounded-button>
        </div>
      </div>
      <img src="assets/whitehatdesktop.svg" class="white-hat-desktop" />
    </div>
    <img src="assets/image1.svg" class="white-hat-mobile" />
  </div>
  <div class="txt-center trusted-wrap">
    <h2>Trusted by <span class="orange-font">1500+ servers</span></h2>
    <h2>Protecting <span class="yellow-font">1.2M+ users</span></h2>
  </div>

  <div class="layer2-sec-wrap txt-center">
    <h1 class="layer-2-mobile-title">Layer-2 Security</h1>
    <div class="flex-desktop" id="layer2-sec-wrap">
      <img class="layer2-ipad-img-desktop" src="assets/ipad4.png" />
      <img class="layer2-ipad-img-mobile" src="assets/mobile-ipad.png" />
      <img class="frame3" src="assets/frame3.svg" />
      <img class="frame1" src="assets/frame1.svg" />
      <img class="frame2" src="assets/frame2.svg" />

      <img class="frame4" src="assets/frame4.svg" />
      <img class="frame5" src="assets/frame5.svg" />
      <div class="text-wrap">
        <img src="assets/lockicon.svg" class="lockicon" />
        <h1 class="layer-2-desktop-title">
          Layer-2 Security
        </h1>
        <p>
          <span>First layer-2</span> discord security bot that protects servers
          from compromised accounts and bots.
        </p>
        <p>
          While all other discord bots attempt to stop scams before they happen,
          <span>Good Knight is the only bot that cripples a hacker after they've
            gained access to your server!</span>
        </p>
      </div>

    </div>
  </div>
</div>
<div class="stars2-background">
  <div class="password-prot-wrap txt-center" id="password-prot-wrap">
    <div class="pass-text-wrap">
      <img src="assets/pass.svg" class="pass-icon" />
      <h1>Password Protection</h1>
      <p>
        Innovative password & 2FA protection secures Good Knight commands so
        that hackers cannot gain control of your server, even after compromising
        an admin or a moderator.
      </p>
    </div>
    <img src="assets/iphones.png" class="iphones-mobile" />
    <img src="assets/iphones-desktop.png" class="iphones-desktop" />
  </div>
  <div class="panic-mode-wrap txt-center" id="panic-mode-wrap">
    <div class="panic-txt-wrap">
      <img src="assets/panic.svg" class="panic-icon" />
      <h1>Panic Mode</h1>
      <p>
        Instant server lockdown to safely stop any hack or raid. Good Knight
        takes a snapshot of your existing server settings and seamlessly
        reapplies them after the danger has passed.
      </p>
    </div>

    <img src="assets/computer.png" />
  </div>
</div>
<div class="power-wizard-wrap txt-center">
  <div id="power-wizard-wrap">
    <img class="layer1 desktop" src="assets/layer1.png" data-aos="fade-right" data-aos-offset="0"
      data-aos-easing="ease-in-sine" />
    <img class="layer1 mobile" src="assets/layer1.png" />
    <img class="layer2 desktop" src="assets/layer2.png" data-aos="zoom-in" data-aos-offset="400"
      data-aos-easing="ease-in-sine" />
    <img class="layer2 mobile" src="assets/layer2.png" />
    <img class="layer3 desktop" src="assets/layer3.png" data-aos="fade-left" data-aos-offset="200"
      data-aos-easing="ease-in-sine" />
    <img class="layer3 mobile" src="assets/layer3.png" />
    <h1 class="wizard-title" id="power-wizard-wrap">
      Permissions Wizard</h1>
  </div>
  <p>
    <span>Safely grant your moderators temporary access to power
      permissions.</span>
    <br />
    <span class="bold-span">The magic of Discord permissions at your
      fingertips without any of the
      risk!</span>
  </p>
</div>
<div class="stars3-background" id="anti-link-wrap">
  <div class="anti-link-wrap txt-center">
    <h1>Anti-link, anti-webhook and more...</h1>
    <div class="flex-reverse">
      <div class="ipad-wrap">
        <div>
          <img class="mobile-anti-link-img" src="assets/ipadpng.png" />
          <img class="desktop-anti-link-img" src="assets/ipadpng.png" />
        </div>
      </div>

      <p>
        Guard your server against malicious links, spam, webhook attacks, and
        more!
      </p>
    </div>
  </div>
  <div class="learn-more-wrap txt-center">
    <h1>
      Learn more about free and premium options
      <span><a (click)="scrollToTable()">here</a></span>
    </h1>
  </div>
  <app-faq-section></app-faq-section>
  <app-secure-for-free></app-secure-for-free>
</div>
<app-footer></app-footer>
