* {
  overflow-x: unset;
}

h1 {
  font-family: MontserratBold;
  font-size: 8vw;
}

.faq-wrapper {
  padding: 13% 0;
  background-image: url(/assets/stars5.png);
  background-size: 92vw;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 20vw;

  .questions-wrapper {
    margin-top: 20%;
    position: relative;
    padding: 0 6%;
  }

  .question-item {
    background-color: #3A2657;
    font-family: MontserratSemiBold;
    margin: 0 0 6% 0;
    font-size: 3.8vw;
    padding: 5.2% 4.5%;
    border-radius: 9px;
    flex-direction: column;

    img {
      transition: all 0.3s ease 0s;
    }

    &.question-item--visible-answer {
      img {
        transform: rotate(135deg);
      }

      p {
        max-height: 500px;
        margin-top: 9vw;
        white-space: break-spaces;
      }
    }

    p {
      font-family: MontserratLight;
      font-size: 3.86vw;
      width: 100%;
      max-height: 0;
      overflow: hidden;
      margin: 0;
    }

    &:nth-of-type(1) {
      span {
        margin-right: 25%;
      }
    }

    &:nth-of-type(2) {
      span {
        margin-right: 35%;
      }
    }

    &:nth-of-type(3),
    &:nth-of-type(4) {
      span {
        margin-right: 10%;
      }
    }

    &:nth-of-type(5) {
      span {
        margin-right: 12%;
      }
    }

    &:nth-of-type(7) {
      span {
        margin-right: 2%;
      }
    }

    &:first-of-type {
      margin-top: -3px;
      position: relative;
    }

    .expand-btn {
      width: 11%;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media only screen and (min-width: 750px) {
  .faq-wrapper {
    padding: 10% 0 6% 0;
    background-image: unset;


    h1 {
      font-size: 3.1vw;
    }

    .questions-wrapper {
      margin-top: 0;
      padding: 4% 19%;
    }

    .question-item {
      padding: 1.9% 2.2% 1.9% 5%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.9%;

      &.question-item--visible-answer {
        p {
          margin-top: 2.5vw;
          margin-bottom: 1.5vw;
          padding-right: 0vw;
          width: 90%;
          margin-right: auto;
        }
      }

      >div {
        width: 100%;
        justify-content: space-between;
        align-items: center;
      }

      p {
        font-size: 1.19vw;
      }

      &:first-of-type {
        margin-top: 0px;
      }

      span {
        font-size: 1.35vw;
      }

      .expand-btn {
        width: 4.5%;
      }
    }
  }
}
