@media only screen and (min-width: 750px) {

  .rock-gif,
  .owl-gif {
    display: block;
    position: absolute;
  }

  .owl-gif {
    width: 6vw;
    left: 5.5vw;
    margin-top: 6vw;
  }

  .rock-gif {
    width: 5vw;
    right: 4.5vw;
    margin-top: 28vw;
  }

  .faq-wrapper {
    padding: 10% 0 6% 0;
    background-image: unset;

    h1 {
      font-size: 3.1vw;
    }

    .questions-wrapper {
      margin-top: 0;
      padding: 4% 19%;
    }

    .question-item {
      padding: 1.9% 2.2% 1.9% 5%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.9%;

      &.question-item--visible-answer {
        p {
          margin-top: 2.5vw;
          margin-bottom: 1.5vw;
          padding-right: 0vw;
          width: 90%;
          margin-right: auto;
        }
      }

      >div {
        width: 100%;
        justify-content: space-between;
        align-items: center;
      }

      p {
        font-size: 1.19vw;
      }

      &:first-of-type {
        margin-top: 0px;
      }

      span {
        font-size: 1.35vw;
      }

      .expand-btn {
        width: 4.5%;
      }
    }
  }
}
