button {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  width: 100%;
  font-family: MontserratBold;
  color: white;
  border: 3px solid #3A2657;
  background-color: #3A2657;

  img {
    width: 4%;
    padding-left: 5%;
  }

  span {
    font-size: 4.7vw;
  }
}

.transparent {
  border: 3px solid #321A70;
  color: #321A70;
  background-color: transparent;
}

.border-white {
  color: white;
  border-color: white;
}

.white {
  color: #3A2657;
  border-color: white;
  background-color: white;
}

@media only screen and (min-width: 750px) {
  button {
    width: 20vw;
    border-radius: 10px;

    &:hover {
      background-color: white;
      color: #3A2657;
      border-color: #3A2657;
    }

    span {
      font-size: 1.6vw;
    }
  }

  .transparent {
    &:hover {
      background-color: #3A2657;
      color: white;
      border-color: #3A2657;

      img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7475%) hue-rotate(16deg) brightness(100%) contrast(102%);
      }
    }
  }

  .auto-smaller {
    margin: auto;
    padding: 1vw;
    width: 19vw;
  }
}
