button {
  color: #321A70;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  border: 3px solid #321A70;
  width: 100%;
  background-color: transparent;
  font-family: MontserratBold;

  img {
    width: 4%;
  }

  span {
    font-size: 4.7vw;
    padding-right: 5%;
  }
}
